<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" opened>
    <mat-list role="list">
      <mat-list-item role="listitem" style="margin: 20px 0px;">
        <img src="../assets/Spotify_Logo_CMYK_White.png" alt="" width="200" height="60" style="margin: 10px;">
      </mat-list-item>
      <mat-list-item
                     role="listitem"
                     routerLink="/home"
                     routerLinkActive="active"
                     >
                     <span class="material-icons">
                      home
                      </span> &nbsp;&nbsp;Home
      </mat-list-item>
      <mat-list-item
                      role="listitem"
                      routerLink="/search"
                      routerLinkActive="active"
                      ><span class="material-icons">
                        search
                        </span> &nbsp;&nbsp;
                      Search
      </mat-list-item>
    </mat-list>
  </mat-drawer>

  <div class="example-sidenav-content" >
    <mat-toolbar color="dark">
      <mat-toolbar-row>
        <mat-icon (click)="drawer.toggle()" >menu</mat-icon>
          &nbsp;&nbsp;
          <!-- <span>Spotify</span> -->

        <button mat-button  (click)="prev()" style="margin-left: 30px;" >
          <span class="material-icons">
            arrow_back_ios
            </span>
        </button>
        <button mat-button  (click)="next()" >

            <span class="material-icons">
              arrow_forward_ios
              </span>
        </button>

        <span class="example-spacer"></span>
        <a mat-button href="#" >Sign Up</a>
        <button mat-flat-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          Login
         </button>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <mat-chip-list #chipList [multiple]="false" aria-label="Fruit selection">

          <ng-container  *ngFor="let cat of categories;let i = index" >
            <mat-chip
            *ngIf="cat.selected"
            [selected]="cat.selected"
            >
            {{cat?.type | titlecase}}
            <button matChipRemove (click)="remove(i)" *ngIf="cat?.selected">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          </ng-container>

          <ng-container  *ngFor="let cat of categories;let i = index" >
            <mat-chip
            *ngIf="!cat?.selected"
            (click)="sort(i)"
            >
            {{cat?.type | titlecase}}
            <button matChipRemove (click)="remove(i)" *ngIf="cat?.selected">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          </ng-container>

        </mat-chip-list>
      </mat-toolbar-row>
    </mat-toolbar>
   <!-- BODY -->
   <div style="margin:auto !important;" *ngIf="isToken">

    <!-- MAIN NAVIGATION PLACEHOLDER -->
    <router-outlet></router-outlet>

    <!-- PLAYER BOTTOM BAR -->
   <div  style="position: fixed;bottom: 0px;background-color: #303030;width: 100vw;height: 70px;">

     <div  class="player-container">
      {{selectedSong?selectedSong:"Please select song"}}
        <!-- PREV SONG BTN -->
        <button mat-fab  (click)="prevSong()"  color="primary" aria-label="Example icon button with a delete icon">
          <span class="material-icons">
            first_page
            </span>
        </button>

        <!-- PLAY SONG BTN -->
        <button (click)="pause()" mat-fab color="primary" aria-label="Example icon button with a delete icon">
          <span *ngIf="!this.isPlaying" class="material-icons">
            play_arrow
            </span>
            <span  *ngIf="this.isPlaying"  class="material-icons">
              pause
              </span>
        </button>

        <!-- NEXT SONG BTN -->
      <button mat-fab (click)="nextSong()"  color="primary" aria-label="Example icon button with a delete icon">
        <mat-icon>last_page</mat-icon>
      </button>

     </div>
    </div>

  </div>

  </div>

</mat-drawer-container>

